details {
    margin-bottom: 0.5rem;
    width: 90vw;
}
details > summary {
    display: flex;
    justify-content: space-between;
    background-color: #eee;
    padding: .5rem 1rem;
    margin-top: 0.5rem;
    list-style:none;
}
details  > p {
    border: 2px solid #eee;
    margin: 0;
    padding: 1rem;
}
details summary::after { 
    content:"+"; 
    color: teal; 
    font-size: 32px;
    font-weight:600;
    align-self: center;    
    transform: translateY(-50%) rotate(90deg);
    transition: transform .25s ease-in-out;
}
details[open] summary::after { 
    content:"–";
    color: teal 
    font-size: 32px;
    font-weight:600;
    align-self: center;
    transform: translateY(-50%) rotate(180deg);
}